PORT=5050
CORS_ORIGIN=http://localhost:5174,https://gtreport-v2.web.app,https://gtreport-v2.firebaseapp.com
APICORE_GRAPHQL_URL=https://greattime-api-core-hs6rtohe3q-uc.a.run.app/apicore
GOOGLE_APPLICATION_CREDENTIALS=
FIREBASE_SERVICE_ACCOUNT_JSON=
BQ_PROJECT_ID=pitistartup
BQ_DATASET=great_time
BQ_LOCATION=US
BQ_MAIN_DATA_VIEW=MainDataView
BQ_MAIN_PAYMENT_VIEW=MainPaymentView
